/*Body*/
body{
    background-color: blue
}

/*--------------------*/

/*Menu de navigation*/
img.logo{
    position: fixed;
    top: 0;
    left: 0;
}

div.nav ul li{
    display: inline-block;
    left: 0;
}

div.nav{
    background-color: blue;
    padding: 2px;
    align-items: center;
}

div.nav ul li.bouton{
    text-align: center;
    border-radius: 10px;
    padding: 4px;
    background-color: orange;
    top: 0;
}

h2{
    top: 85px;
    left: 0;
    border-radius: 20px;
    background-image: url("../Images/Logo.jpg");
}

div.nav h2{
    position: fixed;
    top: 2;
}
 
div.nav ul{
    background-color: cyan;
    padding: 10px;
    top: 0;
}

/*-------------------*/

/*Footer*/
div.footer{
    background-color: red;
}

footer a{
    color: blue;
    text-decoration-color: blue;
    bottom: 0;
}

footer{
    position: fixed;
    display: flex;
    bottom: 0;
    background-color: red;
    border-radius: 20px;
    padding: 7px;
    
}

/*--------------------*/
